* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  word-break: keep-all;
  background-color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

#header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  z-index: 99;
}
#header #logo {
  position: absolute;
  left: 50px;
}
#header #logo a {
  display: block;
  padding: 30px 0;
}
#header #logo a img {
  height: 30px;
  position: absolute;
  transition: all 0.25s ease;
}
#header #logo a img.white {
  opacity: 0;
}
#header #logo a img.color {
  opacity: 1;
}
#header #gnb {
  color: #000;
  transition: all 0.25s ease;
}
#header #gnb ul {
  display: flex;
}
#header #gnb ul li:last-child a {
  padding-right: 0;
}
#header #gnb ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 30px;
  height: 100px;
  font-size: 20px;
  font-weight: 700;
}
#header #gnb ul li a:hover:before {
  top: 25px;
  opacity: 1;
}
#header #gnb ul li a::before {
  top: 0;
  left: 30px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #f52f23;
}
#header .language {
  display: flex;
  position: absolute;
  top: 45px;
  left: 250px;
  color: #fff;
}
#header .language li {
  margin: 0 10px;
  transition: all 0.25s ease-in-out;
}
#header .language li a {
  position: relative;
  font-weight: 700;
}
#header .language li a:after {
  top: 25px;
  left: 0;
  opacity: 0;
  transition: all 0.25s ease;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f52f23;
}
#header .language li a.active:after {
  top: 25px;
  left: 0;
  opacity: 1;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f52f23;
}
#header .btnAll {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 50px;
  cursor: pointer;
}
#header .btnAll span {
  display: block;
  width: 40px;
  height: 3px;
  position: absolute;
  left: 30px;
  transition: all 0.25s ease;
  background-color: #000;
}
#header .btnAll span:nth-child(1) {
  top: 43px;
}
#header .btnAll span:nth-child(2) {
  top: 57px;
}
#header .fTopBtn {
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translate(-50%, -50%);
}
#header .fTopBtn .material-icons {
  cursor: pointer;
  font-size: 40px;
  color: #fff;
  transition: color 0.25s ease-in-out;
}
#header .fTopBtn .material-icons:hover {
  color: #f52f23;
}

.black #header #logo a img.white {
  opacity: 1;
}
.black #header #logo a img.color {
  opacity: 0;
}
.black #header #gnb {
  color: #fff;
  opacity: 1;
  display: block;
}
.black #header .btnAll {
  opacity: 1;
  display: block;
}
.black #header .btnAll span {
  background-color: #fff;
}
.black #header .fTopBtn {
  opacity: 0;
}
.black #main .pagination .swiper-pagination-bullet {
  background-color: #fff;
}
.black #main .pagination .swiper-pagination-bullet .tooltip {
  color: #000;
  background-color: #fff;
}
.black #main .pagination .swiper-pagination-bullet-active {
  background-color: #f52f23;
}
.black #main .pagination .swiper-pagination-bullet-active .tooltip {
  color: #fff;
  background-color: #f52f23;
}

.red #header #logo a img.white {
  opacity: 1;
}
.red #header #logo a img.color {
  opacity: 0;
}
.red #header #gnb {
  opacity: 1;
  display: block;
  color: #fff;
}
.red #header .btnAll {
  opacity: 1;
  display: block;
}
.red #header .btnAll span {
  background-color: #fff;
}
.red #header .fTopBtn {
  opacity: 0;
  display: none;
}
.red #main .pagination .swiper-pagination-bullet {
  background-color: #000;
}
.red #main .pagination .swiper-pagination-bullet .tooltip {
  color: #fff;
  background-color: #000;
}
.red #main .pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}
.red #main .pagination .swiper-pagination-bullet-active .tooltip {
  color: #000;
  background-color: #fff;
}

.off #header #logo a img.white {
  opacity: 1;
}
.off #header #logo a img.color {
  opacity: 0;
}
.off #header .fTopBtn {
  opacity: 1;
}
.off #gnb {
  opacity: 0;
}
.off .btnAll {
  display: none;
  opacity: 0;
}

#allMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 98;
  color: #fff;
  opacity: 0;
  transition: all 0.25s ease;
  background-color: #000;
  pointer-events: none;
  overflow: hidden;
}
#allMenu > ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1280px;
}
#allMenu > ul > li:hover a::before {
  top: -20px;
  opacity: 1;
}
#allMenu > ul > li > a {
  display: block;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  position: relative;
  transition: all 0.25s ease;
}
#allMenu > ul > li > a::before {
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #f52f23;
  border-radius: 100%;
  top: -30px;
  opacity: 0;
  transition: all 0.3s ease-in;
}
#allMenu > ul > li .depth02.active > li a {
  color: #888;
}
#allMenu > ul > li .depth02.active > li a:hover {
  color: #fff;
}
#allMenu > ul > li .depth02 > li {
  margin: 15px 0;
  font-size: 20px;
}
#allMenu > ul > li .depth02 > li a {
  transition: all 0.25s ease;
}
#allMenu > iframe {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.allMenuOpen #header #logo .white {
  opacity: 1;
}
.allMenuOpen #header #logo .color {
  opacity: 0;
}
.allMenuOpen #header #gnb {
  opacity: 0;
  pointer-events: none;
}
.allMenuOpen #header .btnAll span {
  background-color: #fff;
}
.allMenuOpen #header .btnAll span:nth-child(1) {
  transform: rotate(45deg);
  top: 50px;
}
.allMenuOpen #header .btnAll span:nth-child(2) {
  top: 50px;
  transform: rotate(-45deg);
}
.allMenuOpen #allMenu {
  opacity: 1;
  pointer-events: auto;
}

#f-gnb .list > li {
  margin: 20px 0;
}
#f-gnb .list > li:nth-child(1) {
  margin-top: 0;
}
#f-gnb .list > li .depth01 {
  font-size: 36px;
}
#f-gnb .list > li .depth02 {
  display: none;
  opacity: 0;
  position: absolute;
  left: 20%;
  top: 0;
  font-size: 18px;
  font-weight: 700;
}
#f-gnb .list > li .depth02 > li {
  margin: 20px 0;
}
#f-gnb .f-ball {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #f52f23;
  position: fixed;
  top: 0;
  opacity: 0;
  left: -50px;
}

#footer .inner {
  background-color: #000;
  color: #fff;
  position: relative;
}
#footer .inner .contents {
  width: 1300px;
  display: flex;
  position: relative;
  border-bottom: 1px solid #333;
  padding-bottom: 150px;
}
#footer .inner .contents .nav,
#footer .inner .contents .addressBox {
  flex-basis: 50%;
}
#footer .inner .contents .addressBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footer .inner .contents .addressBox span {
  font-weight: 700;
}
#footer .inner .contents .addressBox p {
  margin: 25px 0;
  color: #999;
}
#footer .inner .contents .addressBox .btns .btn {
  font-size: 16px;
  font-weight: 700;
  padding: 20px 60px 20px 30px;
  background-color: #f52f23;
  position: relative;
  letter-spacing: -1px;
}
#footer .inner .contents .addressBox .btns .btn::before {
  display: block;
  position: absolute;
  content: "";
  font-family: "Material Icons";
  content: "file_download";
  display: inline-block;
  margin-left: 10px;
  right: 30px;
  top: 50%;
  transform: translate(50%, -50%);
}
#footer .inner .contents .f-bottom {
  width: 100%;
  position: absolute;
  bottom: -150px;
  font-size: 14px;
  color: #999;
}
#footer .inner .contents .f-bottom .utilMenu {
  display: flex;
  margin-bottom: 30px;
}
#footer .inner .contents .f-bottom .utilMenu > li {
  margin-right: 20px;
  color: #666;
  transition: color 0.25s ease-in-out;
}
#footer .inner .contents .f-bottom .utilMenu > li.on {
  color: #ccc;
}
#footer .inner .contents .f-bottom .utilMenu > li:hover {
  color: #fff;
}
#footer .inner .contents .f-bottom .info {
  margin: 10px 0;
}
#footer .inner .contents .f-bottom .info span {
  padding: 10px;
}
#footer .inner .contents .f-bottom .info span.name {
  position: relative;
  padding-left: 0;
}
#footer .inner .contents .f-bottom .info span.name:before {
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
#footer .inner .contents .f-bottom .copyright {
  margin: 10px 0;
}
#footer .inner .contents .f-bottom .familySite {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
#footer .inner .contents .f-bottom .familySite:hover span {
  color: #fff;
  border-color: #fff;
}
#footer .inner .contents .f-bottom .familySite span {
  transition: all 0.25s ease-in-out;
  display: block;
  border: 1px solid #999;
  padding: 20px 180px 20px 20px;
}
#footer .inner .contents .f-bottom .familySite span::before {
  display: block;
  position: absolute;
  content: "";
  font-family: "Material Icons";
  content: "expand_more";
  display: inline-block;
  margin-left: 0;
  right: 20px;
  top: 50%;
  font-size: 20px;
  font-weight: 900;
  transform: translateY(-50%);
}