.link {
  display: inline-block;
  position: relative;
  margin-top: 80px;
  padding: 0 50px;
  font-size: 20px;
  font-weight: 500;
}
.link .txt {
  position: relative;
  z-index: 2;
}
.link i {
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  border-radius: 100px;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: #f1f1f1;
}
.link .material-icons {
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  right: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ballBox {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100vw;
}
.ballBox .ball {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  position: absolute;
  mix-blend-mode: difference;
  z-index: 2;
  filter: invert(100);
}
.ballBox .ball .ballBg {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 1;
  background-color: #f00;
}
.ballBox .ball.fill {
  background-color: #f52f23;
}
.ballBox .ball.line {
  border: 4px solid #f52f23;
}
.ballBox .ball.line::before {
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 112px;
  height: 112px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main {
  height: 100vh;
  overflow: hidden;
}
#main .section .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#main .section .inner .contentsBox {
  width: 1280px;
  margin: 0 auto;
}
#main .section .inner .contentsBox h2 {
  font-size: 68px;
  font-weight: 700;
}

#introduce {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
}
#introduce p {
  font-size: 20px;
  font-weight: 500;
}
#introduce p strong {
  display: block;
  margin-top: 20px;
  font-size: clamp(24px, 8vw, 64px);
  font-weight: 900;
}
#introduce .mainBg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#introduce .mainBg iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#vision .inner {
  background-color: #fff;
  overflow: hidden;
}
#vision .inner .contentsBox {
  display: flex;
  justify-content: space-between;
}
#vision .inner .contentsBox .list li {
  display: flex;
  position: relative;
  padding: 50px 0;
}
#vision .inner .contentsBox .list li:first-child {
  padding-top: 0;
}
#vision .inner .contentsBox .list li:first-child::after {
  display: none;
}
#vision .inner .contentsBox .list li:last-child {
  padding-bottom: 0;
}
#vision .inner .contentsBox .list li::after {
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
}
#vision .inner .contentsBox .list li h3 {
  display: block;
  width: 200px;
  font-size: 20px;
  font-weight: 700;
  color: #f52f23;
}
#vision .inner .contentsBox .list li p {
  font-weight: 500;
}
#vision .inner .contentsBox .list li p strong {
  font-weight: 700;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

#what .inner {
  background-color: #000;
  color: #fff;
}
#what .inner .list {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
#what .inner .list .depth01 {
  flex-basis: 25%;
  font-size: 20px;
  font-weight: 700;
}
#what .inner .list .depth01:nth-child(1) .icon span.red {
  animation: icon01 4s ease infinite;
}
#what .inner .list .depth01:nth-child(1) .icon span:nth-child(2) {
  right: 0;
  animation: icon0102 4s ease infinite;
}
#what .inner .list .depth01:nth-child(1) .icon span:nth-child(3) {
  right: 0;
  bottom: auto;
  top: 0;
  animation: icon0103 4s ease infinite;
}
#what .inner .list .depth01:nth-child(2) .icon {
  width: 50px;
}
#what .inner .list .depth01:nth-child(2) .icon span {
  width: 30px;
  height: 30px;
}
#what .inner .list .depth01:nth-child(2) .icon span.red {
  animation: icon02 2s ease infinite;
  left: 0;
}
#what .inner .list .depth01:nth-child(2) .icon span:nth-child(2) {
  animation: icon0202 2s ease infinite;
  right: 0;
}
#what .inner .list .depth01:nth-child(3) .icon span.red {
  top: 0;
  transform-origin: 20px 20px;
  animation: icon03 4s linear infinite;
}
#what .inner .list .depth01:nth-child(3) .icon span:nth-child(2) {
  width: 40px;
  height: 40px;
}
#what .inner .list .depth01:nth-child(4) .icon span.red {
  animation: icon01 4s ease infinite;
}
#what .inner .list .depth01:nth-child(4) .icon span:nth-child(2) {
  right: 0;
  animation: icon0102 4s ease infinite;
}
#what .inner .list .depth01:nth-child(4) .icon span:nth-child(3) {
  right: 0;
  bottom: auto;
  top: 0;
  animation: icon0103 4s ease infinite;
}
#what .inner .list .depth01 .icon {
  position: relative;
  margin-bottom: 50px;
  width: 40px;
  height: 40px;
}
#what .inner .list .depth01 .icon span {
  position: absolute;
  bottom: 0;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
}
#what .inner .list .depth01 .icon span.red {
  z-index: 2;
  background-color: #f52f23;
}
#what .inner .list .depth01 .depth02 {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 300;
}
#what .inner .list .depth01 .depth02 li {
  margin: 20px 0;
  width: 100%;
}
#what .inner .list .depth01 .depth02 li:hover a::after {
  animation: lineAni 1s ease 0s forwards;
}
#what .inner .list .depth01 .depth02 li a {
  position: relative;
}
#what .inner .list .depth01 .depth02 li a::after {
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #fff;
  left: 0;
  top: 25px;
}

#insight .inner {
  background-color: #fff;
}

#together .inner {
  background-color: #f52f23;
}

#footer .inner {
  background-color: #000;
}

#main .pagination {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 100px;
  z-index: 9;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#main .pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  position: relative;
  margin: 20px 0;
  opacity: 1;
  transition: all 0.25s ease;
  outline: none;
}
#main .pagination .swiper-pagination-bullet::before {
  width: 50px;
  height: 30px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  position: absolute;
  content: "";
}
#main .pagination .swiper-pagination-bullet:last-child {
  display: none;
}
#main .pagination .swiper-pagination-bullet:hover .tooltip {
  opacity: 1;
}
#main .pagination .swiper-pagination-bullet .tooltip {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 15px 30px;
  font-weight: 800;
  color: #fff;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.25s ease;
  white-space: nowrap;
  background-color: #000;
  border-radius: 100px;
}
#main .pagination .swiper-pagination-bullet-active {
  background-color: #f52f23;
}
#main .pagination .swiper-pagination-bullet-active .tooltip {
  color: #fff;
  background-color: #f52f23;
}

@keyframes lineAni {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 3px;
  }
}
@keyframes bgAni01 {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes bgAni02 {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes icon01 {
  0% {
    top: 25px;
    left: 0;
  }
  25% {
    top: 25px;
    left: 25px;
  }
  50% {
    top: 0px;
    left: 25px;
  }
  75% {
    top: 25px;
    left: 25px;
  }
  100% {
    left: 0;
    top: 25px;
  }
}
@keyframes icon0102 {
  0% {
    left: 25px;
  }
  25% {
    left: 0px;
  }
  50% {
    left: 0px;
  }
  75% {
    left: 0px;
  }
  100% {
    left: 25px;
  }
}
@keyframes icon0103 {
  0% {
    right: 0;
    top: 0;
    bottom: auto;
  }
  25% {
    right: 0;
    top: 0;
    bottom: auto;
  }
  50% {
    right: 0;
    top: 25px;
    bottom: auto;
  }
  75% {
    right: 0;
    top: 0;
    bottom: auto;
  }
  100% {
    right: 0;
    top: 0;
    bottom: auto;
  }
}
@keyframes icon02 {
  0% {
    left: 0;
  }
  50% {
    left: 20px;
  }
  100% {
    left: 0;
  }
}
@keyframes icon0202 {
  0% {
    right: 0;
  }
  50% {
    right: 20px;
  }
  100% {
    right: 0;
  }
}
@keyframes icon03 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}