@import "vars";
@import "mixin";

.link {
  display: inline-block;
  position: relative;
  margin: 80px 30px 0;
  padding-right: 50px;
  font-size: 15px;
  font-weight: 500;
  .txt {
    position: relative;
    z-index: 2;
  }
  i {
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    border-radius: 100px;
    @include pseudo;
    @include box(60px, 60px, $gray);
  }
  .material-icons {
    font-size: 16px;
    font-weight: 900;
    position: absolute;
    right: 10px;
    @include absCenter(false, true);
  }
}

.ballBox {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100vw;
  .ball {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: absolute;
    z-index: 2;
    .ballBg {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      z-index: 1;
      background-color: #f00;
    }
    &.fill {
      background-color: $red;
    }
    &.line {
      border: 4px solid $red;
      &::before {
        @include pseudo;
        @include box(112px, 112px, #fff);
        border-radius: 100%;
        @include absCenter(true, true);
      }
    }
  }
}

#main {
  height: 100vh;
  overflow: hidden;
  .section {
    // height: 100vh;
    .inner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      .contentsBox {
        width: 1280px;
        margin: 0 auto;
        h2 {
          font-size: 68px;
          font-weight: 700;
        }
      }
    }
  }
}

#introduce {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  p {
    font-size: 20px;
    font-weight: 500;
    strong {
      display: block;
      margin-top: 20px;
      font-size: clamp(24px, 8vw, 64px);
      font-weight: 900;
    }
  }
  .mainBg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    @include absCenter(true, true);
    z-index: -1;
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#vision .inner {
  background-color: #fff;
  overflow: hidden;
  .contentsBox {
    display: flex;
    justify-content: space-between;
    .list {
      li {
        display: flex;
        position: relative;
        padding: 50px 0;
        &:first-child {
          padding-top: 0;
          &::after {
            display: none;
          }
        }
        &:last-child {
          padding-bottom: 0;
        }
        &::after {
          top: 0;
          left: 0;
          @include pseudo;
          @include box(100%, 1px, $gray);
        }
        h3 {
          display: block;
          width: 200px;
          font-size: 20px;
          font-weight: 700;
          color: $red;
        }
        p {
          font-weight: 500;
          strong {
            font-weight: 700;
            font-size: 20px;
            display: block;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

#what .inner {
  background-color: #000;
  color: #fff;
  .list {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    .depth01 {
      flex-basis: 25%;
      font-size: 20px;
      font-weight: 700;
      &:nth-child(1) {
        .icon {
          span {
            &.red {
              animation: icon01 4s ease infinite;
            }
            &:nth-child(2) {
              right: 0;
              animation: icon0102 4s ease infinite;
            }
            &:nth-child(3) {
              right: 0;
              bottom: auto;
              top: 0;
              animation: icon0103 4s ease infinite;
            }
          }
        }
      }
      &:nth-child(2) {
        .icon {
          width: 50px;
          span {
            width: 30px;
            height: 30px;
            &.red {
              animation: icon02 2s ease infinite;
              left: 0;
            }
            &:nth-child(2) {
              animation: icon0202 2s ease infinite;
              right: 0;
            }
          }
        }
      }
      &:nth-child(3) {
        .icon {
          span {
            &.red {
              top: 0;
              transform-origin: 20px 20px;
              animation: icon03 4s linear infinite;
            }
            &:nth-child(2) {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
      &:nth-child(4) {
        .icon {
          span {
            &.red {
              animation: icon01 4s ease infinite;
            }
            &:nth-child(2) {
              right: 0;
              animation: icon0102 4s ease infinite;
            }
            &:nth-child(3) {
              right: 0;
              bottom: auto;
              top: 0;
              animation: icon0103 4s ease infinite;
            }
          }
        }
      }
      .icon {
        position: relative;
        margin-bottom: 50px;
        width: 40px;
        height: 40px;
        span {
          position: absolute;
          bottom: 0;
          border-radius: 100%;
          width: 15px;
          height: 15px;
          display: block;
          background-color: rgba(255, 255, 255, 0.3);
          &.red {
            z-index: 2;
            background-color: $red;
          }
        }
      }
      .depth02 {
        margin-top: 30px;
        font-size: 16px;
        font-weight: 300;
        li {
          margin: 20px 0;
          width: 100%;
          &:hover a::after {
            animation: lineAni 1s ease 0s forwards;
            // width: 100%;
            // height: 3px;
          }
          a {
            position: relative;
            &::after {
              @include pseudo;
              @include box(0, 1px, #fff);
              left: 0;
              top: 25px;
              // transition: all 0.4s ease;
            }
          }
        }
      }
    }
  }
}

#insight .inner {
  background-color: #fff;
  .contentsBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    .titleBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .subTitle {
        font-weight: 700;
        font-size: 18px;
      }
      .title {
        font-size: 40px;
        font-weight: 500;
        line-height: 1.3;
        margin-top: 20px;
      }
    }
    .btns .link {
      margin-top: 50px;
    }
  }
}

#together .inner {
  background-color: $red;
  color: #fff;
  position: relative;
  .contents .contentsBox {
    .titleBox {
      margin-bottom: 80px;
    }
    .list {
      display: flex;
      li {
        flex-basis: 50%;
        span {
          font-weight: 600;
          font-size: 18px;
        }
        .subTitle {
          font-size: 28px;
          line-height: 1.5;
          display: block;
          margin-top: 20px;
        }
        .link {
          i {
            background-color: rgba(255, 255, 255, 0.2);
          }
          .txt {
            font-size: 16px;
          }
        }
      }
    }
  }
  .ballBox {
    .ball {
      background-color: #fff;
      .ballBg {
        background-color: #fff;
      }
      &.line {
        border-color: #fff;
        &::before {
          background-color: $red;
        }
      }
    }
  }
}

#main .pagination {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 100px;
  z-index: 9;
  @include absCenter(false, true);
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    position: relative;
    margin: 20px 0;
    opacity: 1;
    transition: all 0.25s ease;
    outline: none;
    &::before {
      width: 50px;
      height: 30px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      @include pseudo;
    }
    &:last-child {
      display: none;
    }
    &:hover .tooltip {
      opacity: 1;
    }
    .tooltip {
      position: absolute;
      top: 50%;
      right: 20px;
      padding: 15px 30px;
      font-weight: 800;
      color: #fff;
      transform: translateY(-50%);
      opacity: 0;
      transition: all 0.25s ease;
      white-space: nowrap;
      background-color: #000;
      border-radius: 100px;
    }
    &-active {
      background-color: $red;
      .tooltip {
        color: #fff;
        background-color: $red;
      }
    }
  }
}

@keyframes lineAni {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 3px;
  }
}

@keyframes bgAni01 {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes bgAni02 {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes icon01 {
  0% {
    top: 25px;
    left: 0;
  }
  25% {
    top: 25px;
    left: 25px;
  }
  50% {
    top: 0px;
    left: 25px;
  }
  75% {
    top: 25px;
    left: 25px;
  }
  100% {
    left: 0;
    top: 25px;
  }
}

@keyframes icon0102 {
  0% {
    left: 25px;
  }
  25% {
    left: 0px;
  }
  50% {
    left: 0px;
  }
  75% {
    left: 0px;
  }
  100% {
    left: 25px;
  }
}

@keyframes icon0103 {
  0% {
    right: 0;
    top: 0;
    bottom: auto;
  }
  25% {
    right: 0;
    top: 0;
    bottom: auto;
  }
  50% {
    right: 0;
    top: 25px;
    bottom: auto;
  }
  75% {
    right: 0;
    top: 0;
    bottom: auto;
  }
  100% {
    right: 0;
    top: 0;
    bottom: auto;
  }
}

@keyframes icon02 {
  0% {
    left: 0;
  }
  50% {
    left: 20px;
  }
  100% {
    left: 0;
  }
}

@keyframes icon0202 {
  0% {
    right: 0;
  }
  50% {
    right: 20px;
  }
  100% {
    right: 0;
  }
}

@keyframes icon03 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
